* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

/*
1.发现紧挨在body的div的margin,会顶出body，所以使用了怪异盒模型解决这个问题。
在chrome和firefox浏览器都发现这个问题。
2.对紧贴住body的div，不采用margin。采用padding
*/
body {
    font: 12px arial;
    min-height: 580px;
    min-width: 780px;
    position: relative;
    height: 100%;
    /*box-sizing:border-box;
    margin-top: 20px;*/
}

/*去掉li标签前面的点*/
li {
    list-style-type: none;
}

input[type="submit"] {
    background: #3385ff;
    color: #fff;
    height: 36px;
    width: 100px;
    letter-spacing: 1px;
    font-size: 15px;
    border: 0;
    border-bottom: 1px solid #2d78f4;
}

input[type="submit"]:hover{
    cursor:pointer;
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
    background-color: #317ef3;
}

input[type="text"] {
    height: 22px;
    width: 500px;
    padding: 0;
    margin: 6px 0 0 7px;
    outline: 0;
    border: 0;
}

form {
    margin-top: 22px;
    display: flex;
    flex-direction: row;
}

/*搜索栏的外边框*/
.text_span {
    border: 1px solid #b6b6b6;
    background: #fff;
    display: inline-block;
    width: 539px;
    height: 34px;
    text-align: left;
    position: relative;
    border-right-width: 0px;
    margin-right: 0px;
    letter-spacing: -0.5em;
}

.text_span_focus {
    border: 1px solid #4791ff;
    background: #fff;
    display: inline-block;
    width: 539px;
    height: 34px;
    text-align: left;
    position: relative;
    border-right-width: 0px;
    margin-right: 0px;
    letter-spacing: -0.5em;
}

.text_span:hover {
    border-color: #999;
}

.logo img {
    width: 270px;
    height: 129px;
}

.camera {
    position: absolute;
    right: 11px;
    top: 30%;
    height: 16px;
    width: 18px;
    background: #fff url(../images/soutu_icons_sample_6a1e1619.png) no-repeat -229px 0;
}

.camera:hover {
    background-position: -229px -20px;
}

.button_span {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    padding-top: 20px;
}

.nav_a {
    margin-left: 25px;
    font-weight: bold;
    font-size: 13px;
    color: #666;
    line-height: 24px;
}


/*
只选则.nav下的子元素
*/

.nav >ul >li {
    float: left;
}

.nav ul li ul {
    float: none;
}

.nav ul li ul li a {
    margin: 0;
    padding: 0;
}

.nav ul li ul li a:link {
    text-decoration: none;
}

.nav ul li ul li {
    padding-top: 5px;
    text-align: center;
    width: 80px;
    padding-bottom: 5px;
}

.setting {
    display: block;
    position: relative;
}

.setting_menu_hide {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15px;
    position: absolute;
    display: none;
}

.setting_menu_show {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15px;
    position: absolute;
}

.products_menu_show {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    position: absolute;
    top:0;
    right:0;
    width: 100px;
    background-color: #f9f9f9;
    border-left: 1px solid #b6b6b6;
    height:100vh;
}

.products_menu_hide {
    display: none;
}

#products_a,
#products_a:visited,
#products_a:link {
    background-color: #3385ff;
    color: white;
    text-decoration: none;
    margin-left: 35px;
    font-weight: bold;
    font-size: 13px;
    line-height: 23px;
    padding-left:4px;
    padding-right:4px;
    display:block;
}

#products_menu ul li {
    border-bottom: #f0f0f0 1px solid;
    margin-top: 10px;
}

#products_menu_top {
    padding-top: 10px;
}

#products_menu_top >a{
    text-decoration:none;
}

.products_menu_a:hover,.products_menu_a:visited,.products_menu_a:link{
    color: #666;
    text-decoration:underline;
}
/*
“更多产品”下拉菜单的图片设置，发现父级元素设置了display:flex,align-items: center;
但子元素不能居中的情况，这里仍旧使用来了margin:0 auto;的方式居中
*/

#music_icon {
    width: 40px;
    height: 36px;
    background: url(../images/bdbri_icons_2e35e84b.png) no-repeat;
    background-position: -72px 0;
    margin: 0 auto;
}

#pic_icon {
    width: 36px;
    height: 36px;
    background: url(../images/bdbri_icons_2e35e84b.png) no-repeat;
    background-position: -112px 0;
    margin: 0 auto;
}

#zhidao_icon {
    width: 36px;
    height: 36px;
    background: url(../images/bdbri_icons_2e35e84b.png) no-repeat;
    background-position: -36px 0;
    margin: 0 auto;
}

#wenku_icon {
    width: 36px;
    height: 36px;
    background: url(../images/bdbri_icons_2e35e84b.png) no-repeat;
    background-position: -148px 0;
    margin: 0 auto;
}

#tuiguang_icon {
    width: 46px;
    height: 36px;
    background: url(../images/bdbri_icons_2e35e84b.png) no-repeat;
    background-position: -220px 0;
    margin: 0 auto;
}

.setting_menu_content {
    border: 1px solid #b6b6b6;
    box-shadow: 5px 5px 2px #aaaaaa;
    /*left: -5px;*/
}


/*
.nav ul li:hover .setting_menu {
    display: block;
}
*/

.setting_menu_content li:hover {
    background-color: #3385ff;
}

.setting_menu_content li:hover a {
    color: white;
}

.setting_menu_row {
    height: 10px;
}

.setting_menu_row img {
    width: 8px;
    height: 8px;
}

.nav a:visited {
    color: #666;
}

.nav_a:hover {
    color: blue;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #999;
    bottom: 43px;
    width: 100%;
}

.foot a:link {
    color: #999;
}

.foot a:visited {
    color: #999;
}

.qrcode-img {
    width: 60px;
    height: 60px;
    background: url(../images/zbios_62c636fe.png) 0 0 no-repeat;
}

.qrcode-img2 {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    background: url(../images/nuomi_510f7472.png) 0 0 no-repeat;
}

.qrcode-text {
    line-height: 23px;
}

.about span {
    margin-left: 62px;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 62px;
}

.help {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icrlogo {
    width: 14px;
    height: 17px;
    display: inline-block;
    background: url(../images/icons_0e814c16.png) no-repeat;
    overflow: hidden;
    background-position: -600px -96px;
    position: relative;
    top: -3px;
}

.c-icon-jgwablo {
    width: 14px;
    height: 17px;
    display: inline-block;
    background: url(../images/icons_0e814c16.png) no-repeat;
    overflow: hidden;
    background-position: -623px -96px;
    position: relative;
    top: 3px;
    margin-right: 6px;
}

.qrcode-text b {
    color: #666;
    font-weight: bold;
}
